@font-face {
  font-family: 'IBM-Light';
  src: url(/Font/IBM_Plex_Mono/IBMPlexMono-Light.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM-Light';
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.search button img {
  padding-top: 5px;
  width: 20px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.erro {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  color: red;
  display: none;
}

@media (max-width: 40rem) {
  .search {
    display: block;
  }

  .search input {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .search button {
    margin-top: 15px;
    height: 40px;
    width: 40px;
  }

  .weather-icon {
    width: 130px;
    margin-top: 15px;
  }

  .weather h1 {
    font-size: 50px;
    font-weight: 500;
  }

  .weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
  }

  .details {
    display: block;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px;
  }

  .col {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
  }

  .col img {
    width: 40px;
    margin-right: 10px;
  }

  .humidity,
  .wind {
    font-size: 20px;
    margin-top: 0px;
  }
}

@media (max-width: 23rem) {
  .search input {
    font-size: 12.5px;
  }
}
